<ion-view>
  <ion-header-bar>
    <h1 class="title"><img class="logo" src='./img/Toorn.png'/></h1>
  </ion-header-bar>
  <ion-content class="body">

    <br><br>
    <h1 class="connexion"><i class="ion-person"></i> Connexion </h1>
      <form>

        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="First Name" id="login" type="text" class="validate" data-ng-model="login" required>
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Last Name" id="password" type="password" class="validate" data-ng-model="password" required>
          </label>
        </div>


      </form>

    <br><br>


<center>
      <button class="button button-outline button-positive activated" ng-click="signin(login, password)">Se connecter</button>

    <br><br>
    <a href="#/signup">Pas encore inscrit ?</a>
</center>


    <div><img class="logotrnmnt" src='./img/poweredByToornament-dark.png'/></div>

  </ion-content>
</ion-view>
