<ion-view view-title="">
  <ion-content class="background-color-view">
    <div ng-controller="EvenementCtrl">

      <h1 class="games"> <i class="ion-android-globe"></i> Évènements</h1>


      <div class="card">
        <div class="item item-text-wrap">
          <strong>Evolution Championship Series [EVO]</strong>
          </br>
          <p>Site : <a href="http://evo.shoryuken.com/">EVO shoryuken</a></p>

          <p>L'Evolution Championship Series, plus couramment appelé EVO,
            est un événement américain de sport électronique concernant exclusivement
            des jeux vidéo de combat en un contre un (versus fighting).</br></br>
        Location : Las Vegas (USA)</br>
        Date : 15/07/2016 au 17/07/2016</br>
        Fondateur : L'Evo a été fondé par Tom Cannon, aussi connu pour son travail sur Shoryuken.com,
            un site internet spécialisé dans les fighting game.</br>
            Tournois : Street Fighter V, Guilty Gear XRD Revelator, ultimate Marvel Vs .Capcom 3,
            Super Smash Bros Mélée & Wii U, Killer Instinc, King Of Fighter XIII & XIV, Mortal Kombat X,
            Tekken 7, Pokkén Tournament.</br></p>
        </div>
      </div>




      <div class="card">
        <div class="item item-text-wrap">
          <strong>Stunfest</strong>
          </br>
          <p>Site : <a href="http://www.stunfest.fr/">Stunfest</a></p>

          <p>Le Stunfest est un festival de jeux vidéo rennais d'envergure européenne1,2.
            D'abord spécialisé dans le retrogaming et les jeux de combat,
            le Stunfest est aujourd'hui un événement dédié aux jeux vidéo,
            où chacun peut venir jouer à des jeux aussi bien grand public qu'originaux.
            Il se déroule tous les ans au printemps et est organisé par l'association rennaise 3 Hit Combo.
            Le festival a accueilli plus de 12 000 spectateurs en 2015.</br></br>
            Location : Rennes (FR)</br>
            Date : 20/05/2016 au 22/05/2016</br>
            Fondateur : 3HitCombo</br>
            Tournois : Street fighter V, Guilty Gear XRD Revelator, King Of Fighter XIV, Super Smash Bros.</br></p>
        </div>
      </div>


      <div class="card">
        <div class="item item-text-wrap">
          <strong>DreamHack Winter</strong>
          </br>
          <p>Site : <a href="http://dreamhack.se/dhw15/">DreamHack Winter</a></p>

          <p>La DreamHack (DH) est une LAN-party suédoise rassemblant plusieurs compétitions
            touchant aux activités numériques.
            Cet évènement a lieu deux fois par an : la DreamHack Summer se déroule en juin et
            se concentre sur le sport électronique ; la DreamHack Winter se déroule en novembre et
            se concentre sur la scène démo. Chaque évènement dure 96 heures sans interruptions,
            depuis 2011 il y a maintenant 2 événements DreamHack
            supplémentaires a Valence en Espagne et à Bucarest en Roumanie1.
            En 2014, deux événements supplémentaires ont eu lieu : un match d'exhibition entre TaeJa et ThorZaIN2,
            et un tournoi à Moscou..</br></br>
            Location : Copenhague (DK)</br>
            Date : 26/11/2016 au 29/11/2016</br>
            Tournois : StarCraft II, DotA 2, League of Legends, Counter-Strike. On retrouve également Fifa 13,
            World of Tanks ou Street Fighter V.</br></p>
        </div>
      </div>



      <div class="card">
        <div class="item item-text-wrap">
          <strong>Cannes Winter Clashr</strong>
          </br>
          <p>Site : <a href="http://cwc.gameline.fr/">CWC</a></p>

          <p>La Cannes Winter Clash tournoi en offline de jeux de combat versus fighting,
            au festival des jeux à Cannes, leur nom lors de la création la (World Game Cup) compétition
            Equivalent que l'evolution championship series version européenne.</br></br>
            Location : Cannes (FR)</br>
            Date : 26/02/2016 au 28/02/2016</br>
            Fondateur : Ancien : Asenka & TKO nouveau : Gameslines</br>
            Tournois : StarCraft II, DotA 2, League of Legends, Counter-Strike. On retrouve également Fifa 13,
            World of Tanks ou Street Fighter V.</br></p>
        </div>
      </div>



      <div class="card">
        <div class="item item-text-wrap">
          <strong>RedBull Kumitte</strong>
          </br>
          <p>Site : <a href="http://www.redbullkumite.com/">RedBull Kumitte (RBK)</a></p>

          <p>Les meilleurs joueurs du monde de Street Fighter V s'installent dans la salle Wagram à Paris à
            l'occasion de la seconde édition du Red Bull Kumite.</br></br>
            Location : Paris (FR)</br>
            Date : 23/04/2016 au 24/04/2016</br>
            Fondateur : Redbull Esport</br>
            Tournois : Street Fighter V.</br></p>
        </div>
      </div>


      <div class="card">
        <div class="item item-text-wrap">
          <strong>[ESL] Electronic Sports League ESL Pro Series</strong>
          </br>
          <p>Site : <a href="[ESL] Electronic Sports League ESL Pro Series">ESL Pro Series</a></p>

          <p>L’Electronic Sports League, Ligue de sport électronique en français (ESL, avant ESPL)
            est une ligue pour les joueurs de sport électronique (aussi appelé eSport).</br></br>
            Location : Paris (FR)</br>
            Date : 23/04/2016 au 24/04/2016</br>
            Fondateur : Fondée en 1997 sous le nom de Deutsche Clanliga - DeCL,
            Ligue de Clan Allemande, elle est la ligue la plus âgée de ce type avec environ
            4.617.010 utilisateurs annoncés, 994.819 équipes et plus de 21.650.000 matches joués.
            Son plus grand rival était ClanBaset</br>
            Tournois : Counter-Strike Global Offensive, Mortal Kombat X, Stracraft II, Dota2, League Of Legend,
            Overwatch.</br></p>
        </div>
      </div>





      <div class="card">
        <div class="item item-text-wrap">
          <strong>GSL Global Starcraft II League</strong>
          </br>
          <p>Site : <a href="http://www.gomexp.com/">GSL</a></p>

          <p>La Global StarCraft 2 League (GSL) est une série de tournois professionnels internationaux
            de StarCraft 2 créée en octobre 2010. Les compétitions se déroulent en Corée du Sud et sont organisées par GOM TV,
            qui détenait jusqu'en mai 2012 les droits exclusifs des matchs des jeux développés
            par Blizzard Entertainment en Corée du Sud. Ces matchs, commentés en anglais et en coréen,
            sont diffusés sur Internet via la plate-forme GOM TV ainsi que sur la chaîne AniboxTV de
            la télévision sud-coréenne.</br></br>
            Location : Corée du sud (KR))</br>
            Date : Pas définie</br>
            Fondateur : Gom TV</br>
            Tournois : Starcraft II</br></p>
        </div>
      </div>


      <div class="card">
        <div class="item item-text-wrap">
          <strong>Paris Games Week</strong>
          </br>
          <p>Site : <a href="http://www.parisgamesweek.com">Paris Games Week (PGW)</a></p>

          <p>La Paris Games Week (abrégé PGW) est un salon annuel dédié aux jeux vidéo, créé en 2008,
            dont la première édition s'est déroulée du 27 au 31 octobre 2010 et est organisé
            par le Syndicat des éditeurs de logiciels de loisirs (SELL).
            La décision de créer ce salon a été prise par ce dernier,
            voyant que le salon majeur du jeu vidéo en France, le Festival du Jeu Vidéo,
            malgré son succès, ne correspondait pas à ses attentes.
            Avec 307 000 visiteurs pour l'édition de 2015, le salon est désormais membre du Top 5 mondial des salons de jeux vidéo.</br></br>
            Location : Paris (FR)</br>
            Date : 27/10/2016 au 31/10/2016</br>
            Fondateur : SELL</br>
            Tournois : Counter-Strike Global Offensive, Just-Dance 4, Fifa 2016, Trackmania</br></p>
        </div>
      </div>

      <div class="card">
        <div class="item item-text-wrap">
          <strong>Gamescom </strong>
          </br>
          <p>Site : <a href="http://www.gamescom-cologne.com/">Gamescom</a></p>

          <p>La gamescom est un salon international consacré au jeu vidéo, dont la première édition
            s'est tenue du 19 août au 23 août 2009 à Cologne en Allemagne.</br></br>
            Location : Cologne (DE)</br>
            Date : 17/08/2016 au 21/08/2016</br>
            Fondateur : Bundesverband Interaktive Unterhaltungssoftware </br></p>
        </div>
      </div>


      <div class="card">
        <div class="item item-text-wrap">
          <strong>Milan Games Week </strong>
          </br>
          <p>Site : <a href="http://www.milangamesweek.it/">Milan Games Week</a></p>

          <p>L'événement le plus important du jeu italien, du vendredi 14 au dimanche 16 Octobre,
            2016 au Fieramilanocity, Pavillons 3 et 4</br></br>
            Location : Milan (IT)</br>
            Date : 14/10/2016 au 16/10/2016</br>
            Fondateur : Campus FANDANGO Club </br>
            Tournois : Street Fighter V, Guilty Gear XRD Revelator, Fifa 2016</p>
        </div>
      </div>


      <div class="card">
        <div class="item item-text-wrap">
          <strong>Madrid Games Week </strong>
          </br>
          <p>Site : <a href="http://www.madridgamesweek.com/">Madrid Games Week</a> (WebSite Down)</p>

          <p>Le Madrid Games Week est orienté foire exposition de jeu et de nouvelles technologies.
            Elle a célébré depuis 2013 dans la ville de Madrid , Espagne .
            Il est le successeur du Gamefest (2010 et 2011) qui a organisé la société en charge de quitter Jeu Edese.
            Il est l'une des principales conventions de jeux vidéo européen et Games Week Milan 1 et Paris Games Week.
            2 est un jeune objectifs justes pour devenir l' un des plus importants dans l'industrie datant jeu.</br></br>
            Location : Madrid (ES)</br>
            Date : 07/11/2016 au 10/10/2016</br>
            </p>
        </div>
      </div>



    <div class="card">
      <div class="item item-text-wrap">
        <strong>Insomnia Gaming Festival </strong>
        </br>
        <p>Site : <a href="https://insomniagamingfestival.com/">Insomnia Gaming Festival</a></p>

        <p>Insomnia Gaming Festival is a large-scale gaming event with a professional Main Stage,
          an Expo Hall and a large scale LAN (Local Area Network) event which is the largest LAN in the UK.
          Originally this was a PC gaming only event, but in recent years has incorporated console gamers.</br></br>
          Location : Birmingham (UK)</br>
          Date : 26/08/2016 au 29/08/2016</br>
          Fondateur : Craig Fletcher </br>
          Tournois : Street Fighter V</p>
      </div>
    </div>


  </ion-content>
</ion-view>

