<ion-view view-title="">
  <ion-content class="background-color-view">
    <div ng-controller="LivesCtrl">

      <h1 class="games"> <i class="ion-ios-monitor"></i> Lives </h1>


      <div class="list card">

        <div class="item item-avatar">
          <img src='./img/32/United-Kingdom.png'/>
          <div class="titre-tournoi">Counter Strike Global Offensive</div>
          <strong>
            <div class="titre-jeux-tournoi">
              DreamHack
            </div>
          </strong>
        </div>

        <div class="item item-body">
          <iframe src="https://player.twitch.tv/?channel=dreamhackcs" frameborder="0" scrolling="yes" height="250" width="370"></iframe><a href="https://www.twitch.tv/dreamhackcs?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from DreamhackCS on www.twitch.tv</a>

        </div>
      </div>



      <div class="list card">

        <div class="item item-avatar">
          <img src='./img/32/United-Kingdom.png'/>
          <div class="titre-tournoi">Counter Strike Global Offensive</div>
          <strong>
            <div class="titre-jeux-tournoi">
              ESL CS GO
            </div>
          </strong>
        </div>

        <div class="item item-body">
          <iframe src="https://player.twitch.tv/?channel=esl_csgo" frameborder="0" scrolling="yes" height="250" width="370"></iframe><a href="https://www.twitch.tv/esl_csgo?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from ESL_CSGO on www.twitch.tv</a>

        </div>
      </div>


      <div class="list card">

        <div class="item item-avatar">
          <img src='./img/32/United-Kingdom.png'/>
          <div class="titre-tournoi">League Of Legende</div>
          <strong>
            <div class="titre-jeux-tournoi">
              League Of Legend Championship Series
            </div>
          </strong>
        </div>

        <div class="item item-body">
          <iframe src="https://player.twitch.tv/?channel=riotgames" frameborder="0" scrolling="yes" height="250" width="370"></iframe><a href="https://www.twitch.tv/riotgames?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from Riot Games on www.twitch.tv</a>

        </div>
      </div>




      <div class="list card">

        <div class="item item-avatar">
          <img src='./img/32/France.png'/>
          <div class="titre-tournoi">Versus Fighting</div>
          <strong>
            <div class="titre-jeux-tournoi">
              Redbull Kumit
            </div>
          </strong>
        </div>

        <div class="item item-body">
          <iframe src="https://player.twitch.tv/?channel=redbullesportsfr" frameborder="0" scrolling="yes" height="250" width="350"></iframe><a href="https://www.twitch.tv/redbullesportsfr?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from redbullesportsfr on www.twitch.tv</a>

        </div>
      </div>

      <div class="list card">

        <div class="item item-avatar">
          <img src='./img/32/United-Kingdom.png'/>
          <div class="titre-tournoi">Versus Fighting</div>
          <strong>
            <div class="titre-jeux-tournoi">
              Redbull Kumit
            </div>
          </strong>
        </div>

        <div class="item item-body">
          <iframe src="https://player.twitch.tv/?channel=redbullesportsfr" frameborder="0" scrolling="yes" height="250" width="350"></iframe><a href="https://www.twitch.tv/redbullesportsfr?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from redbullesportsfr on www.twitch.tv</a>

        </div>
      </div>




      <div class="list card">

        <div class="item item-avatar">
          <img src='./img/32/United-Kingdom.png'/>
          <div class="titre-tournoi">Versus Fighting</div>
          <strong>
            <div class="titre-jeux-tournoi">
              Evolution Championship Series
            </div>
            <p>Srkevo 1</p>
          </strong>
        </div>

        <div class="item item-body">
          <iframe src="https://player.twitch.tv/?channel=srkevo1" frameborder="0" scrolling="yes" height="250" width="350"></iframe><a href="https://www.twitch.tv/srkevo1?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from srkevo1 on www.twitch.tv</a>

        </div>
      </div>


      <div class="list card">

        <div class="item item-avatar">
          <img src='./img/32/United-Kingdom.png'/>
          <div class="titre-tournoi">Versus Fighting</div>
          <strong>
            <div class="titre-jeux-tournoi">
              Evolution Championship Series
            </div>
            <p>Srkevo 2</p>
          </strong>
        </div>

        <div class="item item-body">
          <iframe src="https://player.twitch.tv/?channel=srkevo2" frameborder="0" scrolling="yes" height="250" width="350"></iframe><a href="https://www.twitch.tv/srkevo2?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from srkevo2 on www.twitch.tv</a>

        </div>
      </div>

      <div class="list card">

        <div class="item item-avatar">
          <img src='./img/32/United-Kingdom.png'/>
          <div class="titre-tournoi">Versus Fighting</div>
          <strong>
            <div class="titre-jeux-tournoi">
              Evolution Championship Series
            </div>
            <p>Srkevo 3</p>
          </strong>
        </div>

        <div class="item item-body">
          <iframe src="https://player.twitch.tv/?channel=srkevo3" frameborder="0" scrolling="yes" height="250" width="370"></iframe><a href="https://www.twitch.tv/srkevo1?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from srkevo1 on www.twitch.tv</a>

        </div>
      </div>

      <div class="list card">

        <div class="item item-avatar">
          <img src='./img/32/United-Kingdom.png'/>
          <div class="titre-tournoi">Versus Fighting</div>
          <strong>
            <div class="titre-jeux-tournoi">
              Evolution Championship Series
            </div>
            <p>Capcom Fighters</p>
          </strong>
        </div>

        <div class="item item-body">
          <iframe src="https://player.twitch.tv/?channel=capcomfighters" frameborder="0" scrolling="yes" height="250" width="370"></iframe><a href="https://www.twitch.tv/srkevo1?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from srkevo1 on www.twitch.tv</a>

        </div>
      </div>





      <div class="list card">


      <div class="item item-avatar">
        <img src='./img/32/France.png'/>
        <div class="titre-tournoi">Versus Fighting</div>
        <strong>
          <div class="titre-jeux-tournoi">
            Stunfest
          </div>
        </strong>
      </div>

        <div class="item item-body">
          <iframe src="https://player.twitch.tv/?channel=asso3hitcombo" frameborder="0" scrolling="yes" height="250" width="350"></iframe><a href="https://www.twitch.tv/asso3hitcombo?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from Asso3HitCombo on www.twitch.tv</a>
      </div>
      </div>

        <div class="list card">

        <div class="item item-avatar">
          <img src='./img/32/United-Kingdom.png'/>
          <div class="titre-tournoi">Versus Fighting</div>
          <strong>
            <div class="titre-jeux-tournoi">
              Stunfest
            </div>
          </strong>
        </div>

        <div class="item item-body">
          <iframe src="https://player.twitch.tv/?channel=capcomfighters" frameborder="0" scrolling="yes" height="250" width="350"></iframe><a href="https://www.twitch.tv/capcomfighters?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from CapcomFighters on www.twitch.tv</a>

        </div>
      </div>


      <div class="list card">

        <div class="item item-avatar">
          <img src='./img/32/United-Kingdom.png'/>
          <div class="titre-tournoi">Versus Fighting</div>
          <strong>
            <div class="titre-jeux-tournoi">
              DreamHack Winter
            </div>
          </strong>
        </div>

        <div class="item item-body">
          <iframe src="https://player.twitch.tv/?channel=dreamhackfighters" frameborder="0" scrolling="yes" height="250" width="370"></iframe><a href="https://www.twitch.tv/dreamhackfighters?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from DreamHackFighters on www.twitch.tv</a>

        </div>
      </div>





    </div>
  </ion-content>
</ion-view>


      <!--<h2 class="categories">Versus Fighting</h2>
        <h3 class="competitions">Evolution Championship Series<h3>
        <div class="evosrk1">
                <span class="langues-eng">English </span>
          <iframe src="https://player.twitch.tv/?channel=srkevo1" frameborder="0" scrolling="no" height="250" width="370"></iframe><a href="https://www.twitch.tv/srkevo1?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from srkevo1 on www.twitch.tv</a>
            </div>
            <div class="evosrk2">
          <span class="langues-eng">English </span>
          <iframe src="https://player.twitch.tv/?channel=srkevo2" frameborder="0" scrolling="no" height="250" width="370"></iframe><a href="https://www.twitch.tv/srkevo2?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from srkevo2 on www.twitch.tv</a>
            </div>
            <div class="evosrk3">
          <span class="langues-eng">English </span>
          <iframe src="https://player.twitch.tv/?channel=srkevo3" frameborder="0" scrolling="no" height="250" width="370"></iframe><a href="https://www.twitch.tv/srkevo3?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from srkevo3 on www.twitch.tv</a>
            </div>
            <div class="capcomfighters">
          <span class="langues-eng">English </span>
          <iframe src="https://player.twitch.tv/?channel=capcomfighters" frameborder="0" scrolling="no" height="250" width="370"></iframe><a href="https://www.twitch.tv/capcomfighters?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from CapcomFighters on www.twitch.tv</a>
            </div>


            <div class="redbullkumitefr">
          <iframe src="https://player.twitch.tv/?channel=redbullesportsfr" frameborder="0" scrolling="no" height="250" width="370"></iframe><a href="https://www.twitch.tv/redbullesportsfr?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from redbullesportsfr on www.twitch.tv</a>
            </div>

            <div class="redbullkumiteen">
          <span class="langues-eng">English </span>
          <iframe src="https://player.twitch.tv/?channel=redbullesports" frameborder="0" scrolling="no" height="250" width="370"></iframe><a href="https://www.twitch.tv/redbullesports?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from redbullesports on www.twitch.tv</a>
            </div>

              <h3 class="competitions">Stunfest<h3>

            <div class="asso3hitcombo">
          <span class="langues-fr">Francais </span>
          <iframe src="https://player.twitch.tv/?channel=asso3hitcombo" frameborder="0" scrolling="no" height="250" width="370"></iframe><a href="https://www.twitch.tv/asso3hitcombo?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from Asso3HitCombo on www.twitch.tv</a>
            </div>

            <div class="capcomfightersenglish">
          <span class="langues-eng" >English </span>
          <iframe src="https://player.twitch.tv/?channel=capcomfighters" frameborder="0" scrolling="no" height="250" width="370"></iframe><a href="https://www.twitch.tv/capcomfighters?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from CapcomFighters on www.twitch.tv</a>
            </div>

      		  <h3 class="competitions">DreamHack Winter</h3>

      		<div class="dreamhackfighter">
            <span class="langues-eng">English </span>
            <iframe src="https://player.twitch.tv/?channel=dreamhackfighters" frameborder="0" scrolling="no" height="250" width="370"></iframe><a href="https://www.twitch.tv/dreamhackfighters?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from DreamHackFighters on www.twitch.tv</a>
      		</div>


              <h2 class="categories">Counter Strike Global Offensive</h2>

      		  <h3 class="competitions">DreamHack</h3>

      		<div class="dreamhackcs">
            <span class="langues-eng">English </span>
            <iframe src="https://player.twitch.tv/?channel=dreamhackcs" frameborder="0" scrolling="no" height="250" width="370"></iframe><a href="https://www.twitch.tv/dreamhackcs?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from DreamhackCS on www.twitch.tv</a>
      		</div>

      		  <h3 class="competitions">ESL CS GO</h3>

      		<div class="eslcsgo">
            <span class="langues-eng">English </span>
            <iframe src="https://player.twitch.tv/?channel=esl_csgo" frameborder="0" scrolling="no" height="250" width="370"></iframe><a href="https://www.twitch.tv/esl_csgo?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from ESL_CSGO on www.twitch.tv</a>
      		</div>

      		<h2 class="categories">League Of Legend</h2>

     		    <h3 class="competitions">League Of Legend Championship Series</h3>

      		<div class="riotgames">
            <span class="langues-eng">English </span>
            <iframe src="https://player.twitch.tv/?channel=riotgames" frameborder="0" scrolling="no" height="250" width="370"></iframe><a href="https://www.twitch.tv/riotgames?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from Riot Games on www.twitch.tv</a>
      		</div>-->



