<ion-view>
  <ion-header-bar >
    <div class="buttons">
      <button ng-click="goBack()"><i class="ion-android-arrow-back" style="color: #000;"></i></button>
    </div>
    <h1 class="title"><img class="logo" src='./img/Toorn.png'/></h1>
  </ion-header-bar>
  <ion-content class="has-header">

    <h1 class="tournoi"><i class="ion-aperture"></i> Toornaments </h1>
    <div class="list card" ng-if="empty">
        <span>Aucun tournoi n'est disponible !</span>
    </div>
    <div ng-repeat="item in collection" ng-if="!empty">
    <div class="list card">
      <div class="item item-avatar">
        <img src="/img/{{item.discipline}}.png">
        <a href="#/tournaments/{{item.id}}/participants" class="titre-tournoi">{{ item.name }}</a>
        <strong>
          <div class="titre-jeux-tournoi">
           Jeux : {{ item.discipline }}
          </div>
        </strong>
      </div>

      <div class="item item-body" style="background-color: rgb(211,211,211);">
      <div class="titre-jeux-tournoi"><b>Statut</b> : {{ item.status }} </div>
        <div class="titre-jeux-tournoi">
          <div class="titre-jeux-tournoi">
            <b>
            <span ng-if="item.online == true">En ligne</span>
            <span ng-if="item.online == false">En Local</span>
            </b>
          </div>
        <div class="titre-jeux-tournoi">
          <span ng-if="item.location != null || item.country != null"><b>Localisation :</b> {{ item.location }} <img src="/img/{{item.country}}.png"></span>
        </div>
        <div class="titre-jeux-tournoi"><b>Nombre de Joueurs :</b> {{ item.size }} </div>


            <div class="subdued">Début : {{ item.date_start }} </div>
            <div class="subdued">
              <span ng-if="item.date_end != null">Fin : {{ item.date_end }}</span>
            </div>


      </div>

    </div>







    <!--<ion-item href="#/app/schedule/{{item.id}}">Planning</ion-item>
		<hr/>-->
	</div>
  </ion-content>
</ion-view>
